body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.map-container {
  height: 100vh;
}

.sidebar {
  background-color: white;
  color: #fff;
  padding: 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.marker {
  background-image: url("../src/assets/mapbox-marker-icon-20px-blue.png");
  background-size: cover;
  width: 25px;
  height: 50px;
  cursor: pointer;
}

.MuiAutocomplete-hasPopupIcon.css-viou3o-MuiAutocomplete-root
  .MuiOutlinedInput-root,
.MuiAutocomplete-hasClearIcon.css-viou3o-MuiAutocomplete-root
  .MuiOutlinedInput-root {
  padding-right: 39px;
  background-color: white !important;
}
